# ======================== sample messages ========================
# DO NOT REMOVE

# client messages
# message that uses more than one line
OLTFSC0001X  "the second message contains several lines:\n"
" within the second line a string is printed out: %s.\n"
" within the third a integer value is printed out: %d.\n"
# help message (to be used with MSG_INFO)
OLTFSC0002X "usage: progname <file name>\n"

# server messages
# initial space is skipped
  OLTFSS0001X "the first message prints out one integer parameter: %d.\n"
# message without any parameter)
OLTFSS0002X "no value is printed out for the third message.\n"

# ======================== client messages ========================
OLTFSC0001I "usage: ltfsdm migrate <file name>\n"
OLTFSC0002I "usage: ltfsdm recall <file name>\n"
OLTFSC0003I "usage: ltfsdm list <file name>\n"
OLTFSC0004I "usage: ltfsdm <migrate|recall|list>\n"
OLTFSC0005E "Wrong command '%s' specified.\n"
OLTFSC0006I "usage: ltfsdm start\n"
OLTFSC0007I "usage: ltfsdm stop\n"
OLTFSC0008I "usage: ltfsdm ...\n"
OLTFSC0009I "usage: ltfsdm info requests\n"
OLTFSC0010I "usage: ltfsdm info files\n"
OLTFSC0011E "The info command requires a sub command to be specified.\n"
OLTFSC0012E "Wrong sub command '%s' specified.\n"
# ======================== server messages ========================
