msgdefs.h
messages.dox
*~
*.o
src/communication/test
bin/msgcompiler
src/common/msgcompiler/msgcompiler
ltfstest
lib/*
ltfsdm
ltfsdmd
msgdefs.cc
runtest
ltfsdm.pb.cc
ltfsdm.pb.h
.d
.DS_Store
TAGS
TAGS.func
cscope.files
cscope.out
*.dSYM/
src/communication/client
src/communication/server
bin
src/connector/fuse/ltfsdmd.ofs
~*.docx
~*.pptx
*.so
src/common/Version.h
.version
.settings
.cproject
.project
/latex/
/html/
