msgdefs.h
*~
*.o
src/common/comm/test
bin/msgcompiler
src/common/msgcompiler/msgcompiler
msgtest
lib/*
ltfsdm
ltfsdmd
msgdefs.cc
runtest
ltfsdm.pb.cc
ltfsdm.pb.h
.d
.DS_Store
TAGS
TAGS.func
cscope.files
cscope.out
*.dSYM/
src/common/comm/client
src/common/comm/server
bin
