body {
    background-color: #FAFAFA;
}

div.contents {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* 960px has been often suggested */
    width: 960px;
    background-color: white;
}

